*.[oa]
*.ERR.*
*.log
*.BAK
*.ERR
*.bom
*.obj
*.tlog
/home/vovag/proj/sparrow/sparrow_prj/Packages/
/home/vovag/proj/sparrow/sparrow_prj/test_eclip/
/home/vovag/proj/sparrow/sparrow_prj/tst/
/home/vovag/proj/sparrow/sparrow_prj/xil/test1/
/home/vovag/proj/sparrow/sparrow_prj/xil/webtalk/
/home/vovag/proj/sparrow/sparrow_prj/xil/.metadata/

*.backup.*
*.jou
*.exe
*.exp
*.ilk
*.pdb
*.bak
*.uvgui.*
*.bin
*.bit
*.mcs
*.ipch
*.sdf
*.suo
*.opensdf
*.tmp

